@import 'colors';

#logo-container {
    width: 150px;
    margin: auto;
    position: relative;
    top: 35vh;
}

#logo svg {

    #path-1 {
        fill: #D1E9F2;
        opacity: 0.7;
    }
    #path-2 {
        fill: #82CBE8;
    }
    #path-3 {
        fill: #39A1E2;
    }
    #path-4 {
        fill: #F2B96D;
    }
    #path-5 {
        fill: #FF8D4D;
    }
    #path-6 {
        fill: #E57C7C;
    }
    #path-7 {
        fill: #D64C4C;
    }
}

#logo:hover path {
    stroke: $background;
    stroke-width: 30px;
}