@import 'logo';

$orange: #fd9966;
$blue: #53abe2;
$red: #d85f61;
$text-color: rgb(24, 24, 24);

h1 {
    color: $text-color;
}

#stripes {
    z-index: -1;
    width: 100%;
    position: absolute;
    top: 65px;
    left: 0;
}

#stripes hr {
    border: 8px solid;
    margin: 0;
    opacity: 0.8;
}

#stripe-1 {
    color: $red;
}

#stripe-2 {
    color: $blue;
}

#stripe-3 {
    color: $orange;
}

