.blog-container {
    display: flex;
    flex-wrap: wrap;
}

.blog-content {
    flex: 3;
    min-width: 320px;
    padding: 0 20px;
}

@media(min-width: 517px){
    .blog-content {
        min-width: 517px;
    }
}

.sidebar {
    flex: 1;
    padding: 0 20px;
}