@import 'colors';

#logo-container {
    width: 150px;
    flex: 1.5;
    display: flex;
    align-items: center;
}

#logo {
    position: relative;
    top: -6px;

    path {
        display: inline-block;
        stroke-width: 0px;
        transition: all .5s;
        -webkit-transition: all .5s;
        stroke: $background;
        opacity: 1;
    }

    path:hover {
        opacity: 0.7;
    }

    &:hover path {
        stroke-width: 20px;
    }
}

#logo svg {

    #path-1 {
        fill: #D1E9F2;
        opacity: 0.7;
    }
    #path-2 {
        fill: #82CBE8;
    }
    #path-3 {
        fill: #39A1E2;
    }
    #path-4 {
        fill: #F2B96D;
    }
    #path-5 {
        fill: #FF8D4D;
    }
    #path-6 {
        fill: #E57C7C;
    }
    #path-7 {
        fill: #D64C4C;
    }

}
