
#logo-container {
    display: flex;
    opacity: 0;
    width: 55px;
    flex: 1.5;
    align-items: center;
    top: 60px;
    left: 30px;
    position: absolute;
}

.home-page #logo-container {
    position: static;
    width: 150px;
    opacity: 1;
}

#logo {
    path {
        display: inline-block;
        stroke-width: 0px;
        transition: all .5s;
        -webkit-transition: all .5s;
        stroke: $background;
        opacity: 1;
    }

    path:hover {
        opacity: 0.7;
    }

    &:hover path {
        stroke-width: 20px;
    }
}

.home-page #logo {
    position: relative;
    top: -6px;
}

#logo svg {

    #path-1 {
        fill: #D1E9F2;
        opacity: 0.7;
    }
    #path-2 {
        fill: #82CBE8;
    }
    #path-3 {
        fill: #39A1E2;
    }
    #path-4 {
        fill: #F2B96D;
    }
    #path-5 {
        fill: #FF8D4D;
    }
    #path-6 {
        fill: #E57C7C;
    }
    #path-7 {
        fill: #D64C4C;
    }

}

@media(min-width: $med){
    #logo-container {
        z-index: 1;
        opacity: 1;
        width: 100px;
        position: fixed;
        left: 45.3%;
        top: 35px;
    }
}