@keyframes WALK {
    0% { background-position: 0 }
    17% { background-position: -182px }
    34% { background-position: -364px }
    51% { background-position: -546px }
    68% { background-position: -728px }
    84% { background-position: -910px }
}

@-webkit-keyframes WALK {
    0% { background-position: 0 }
    17% { background-position: -182px }
    34% { background-position: -364px }
    51% { background-position: -546px }
    68% { background-position: -728px }
    84% { background-position: -910px }
}

#sprite-container {
    height: 220px;
    position: relative;
    width: 182px;
    margin-left: auto;
    z-index: -3;
    display: flex;
    justify-content: flex-end;
}

.sprite {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0;
    -webkit-backface-visibility: hidden; /* IOS Flicker fix */
    -webkit-transform:translate3d(0,0,0);
}

#sprite-still {
    background-image: url('assets/little-clem.png');
}

#sprite-walk-down {
    background-image: url('assets/walking-down/down-spritesheet.png');
    animation: WALK .8s infinite step-end;
    -webkit-animation: WALK .8s infinite step-end;
}

#sprite-walk-up {
    background-image: url('assets/walking-up/up-spritesheet.png');
    animation: WALK .8s infinite step-end;
    -webkit-animation: WALK .8s infinite step-end;
}

.sprite.active {
    opacity: 1;
}