@import 'normalize';
@import 'logo';
@import 'colors';
@import 'menu';

body {
    background-color: $background;
    width: 100%;
    overflow: hidden;
}

.page-wrapper {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

h1 {
    color: $text-color;
}

header {
    width: 100%;
}

.home-link {
    display: block;
    cursor: pointer;
}

#stripes {
    z-index: -1;
    width: 100%;
    position: absolute;
    top: 45vh;
    left: 0;
}

#stripes hr {
    border: 8px solid;
    margin: 0;
    opacity: 0.8;
}

#stripe-1 {
    color: $red;
}

#stripe-2 {
    color: $blue;
}

#stripe-3 {
    color: $orange;
}

.desktop-social {
    display: none;
}