@import 'normalize';
@import 'logo';
@import 'colors';

body {
    background-color: $background;
    width: 100%;
    overflow: hidden;
}

.page-wrapper {
    width: 100%;
    overflow: hidden;
}

h1 {
    color: $text-color;
}

header {
    width: 100%;
}

.home-link {
    display: block;
    cursor: pointer;
}

#stripes {
    z-index: -1;
    width: 100%;
    position: absolute;
    top: 45vh;
    left: 0;
}

#stripes hr {
    border: 8px solid;
    margin: 0;
    opacity: 0.8;
}

#stripe-1 {
    color: $red;
}

#stripe-2 {
    color: $blue;
}

#stripe-3 {
    color: $orange;
}



/* 
    Hamburger
*/


/*TODO - FIX THIS */
ul#menu {
    z-index: 1;
    display: inline-block;
    a {
        display: inline-block;
    }
}

nav {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

#hamburger {
    z-index: 2;
    position: fixed;
    top: 20px;
    right: 20px;
}

#menu-toggle #hamburger span {
    transition: background-color 1.5s;
    background-color: $text-color;
    margin: 6px 0;
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 2px;
}

#menu-toggle #hamburger.active span {
    background-color: $background;
    z-index: 1;
}

#menu-toggle input {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 33px;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
}

#menu-toggle ul#menu {
    transition: margin 1s;
    position: fixed;
    margin: 0 0 0 100%;
    width: 100%;
    height: 100vh;
    background-color: $text-color;
    
    a {
        color: $background;
    }
}

#menu-toggle input:checked ~ ul#menu {
    margin: 0;
}
