article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: yellow;
  color: black;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 0;
  padding: 0;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 0;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

#menu {
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: #223843;
  display: inline-block;
  padding: 50px 50px 50px 30px;
  box-sizing: border-box;
  transition: margin 1s;
  position: fixed;
  margin: 0 0 0 100%;
}
#menu a {
  display: block;
  font-size: 40px;
  font-family: helvetica;
  font-weight: bold;
  text-decoration: none;
  width: 70%;
  margin: 15px auto;
  color: #FCF2ED;
}
#menu.active {
  margin: 0;
}

#hamburger {
  z-index: 2;
  position: fixed;
  top: 25px;
  right: 25px;
}

#hamburger span {
  transition: background-color 1.5s;
  background-color: #223843;
  margin: 6px 0;
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 2px;
}

#hamburger.active span {
  background-color: #FCF2ED;
  z-index: 1;
}

#menu .social-bar.mobile-social {
  width: 80%;
  margin: 10% auto;
  text-align: center;
}

@media (min-width: 900px) {
  #hamburger {
    display: none;
  }

  #menu {
    float: right;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    right: 20px;
    top: -20px;
  }
  #menu a {
    display: inline-block;
    font-size: 26px;
    color: #223843;
    width: auto;
    transition: 0.8s;
  }
  #menu a:hover {
    opacity: 0.6;
  }
  #menu li {
    display: inline-block;
  }

  .home-page #menu {
    animation: DROP 2s;
  }

  .social-bar.mobile-social {
    display: none;
  }
}
#logo-container {
  display: flex;
  opacity: 0;
  width: 55px;
  flex: 1.5;
  align-items: center;
  top: 60px;
  left: 30px;
  position: absolute;
}

.home-page #logo-container {
  position: static;
  width: 150px;
  opacity: 1;
}

#logo path {
  display: inline-block;
  stroke-width: 0px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  stroke: #FCF2ED;
  opacity: 1;
}
#logo path:hover {
  opacity: 0.7;
}
#logo:hover path {
  stroke-width: 20px;
}

.home-page #logo {
  position: relative;
  top: -6px;
}

#logo svg #path-1 {
  fill: #D1E9F2;
  opacity: 0.7;
}
#logo svg #path-2 {
  fill: #82CBE8;
}
#logo svg #path-3 {
  fill: #39A1E2;
}
#logo svg #path-4 {
  fill: #F2B96D;
}
#logo svg #path-5 {
  fill: #FF8D4D;
}
#logo svg #path-6 {
  fill: #E57C7C;
}
#logo svg #path-7 {
  fill: #D64C4C;
}

@media (min-width: 900px) {
  #logo-container {
    z-index: 1;
    opacity: 1;
    width: 100px;
    position: fixed;
    left: 45.3%;
    top: 35px;
  }
}
@keyframes WALK {
  0% {
    background-position: 0;
  }
  17% {
    background-position: -182px;
  }
  34% {
    background-position: -364px;
  }
  51% {
    background-position: -546px;
  }
  68% {
    background-position: -728px;
  }
  84% {
    background-position: -910px;
  }
}
@-webkit-keyframes WALK {
  0% {
    background-position: 0;
  }
  17% {
    background-position: -182px;
  }
  34% {
    background-position: -364px;
  }
  51% {
    background-position: -546px;
  }
  68% {
    background-position: -728px;
  }
  84% {
    background-position: -910px;
  }
}
#sprite-container {
  height: 220px;
  position: relative;
  width: 182px;
  margin-left: auto;
  z-index: -3;
  display: flex;
  justify-content: flex-end;
}

.sprite {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* IOS Flicker fix */
  -webkit-transform: translate3d(0, 0, 0);
}

#sprite-still {
  background-image: url("assets/little-clem.png");
}

#sprite-walk-down {
  background-image: url("assets/walking-down/down-spritesheet.png");
  animation: WALK 0.8s infinite step-end;
  -webkit-animation: WALK 0.8s infinite step-end;
}

#sprite-walk-up {
  background-image: url("assets/walking-up/up-spritesheet.png");
  animation: WALK 0.8s infinite step-end;
  -webkit-animation: WALK 0.8s infinite step-end;
}

.sprite.active {
  opacity: 1;
}

@media (min-width: 600px) {
  #sprite-container {
    position: fixed;
    left: 10%;
  }
}
@media (min-width: 900px) {
  #sprite-container {
    left: 20%;
  }
}
.about-page main {
  margin-top: 170px;
}

.about-page h3 {
  margin-top: 5px;
}

#about-container {
  display: flex;
  flex-wrap: wrap;
}

#about-container .text-container {
  flex: 1;
}

@media (min-width: 600px) {
  #about-container h3,
#about-container .blurb {
    text-align: left;
  }
  #about-container p.blurb {
    width: 80%;
  }
}
@media (min-width: 900px) {
  #about-container p.blurb {
    width: 70%;
  }
}
ul.techs,
ul.uxui,
ul.software,
ul.hobbies {
  list-style: none;
  margin-top: 0;
}
ul.techs li,
ul.uxui li,
ul.software li,
ul.hobbies li {
  display: inline-block;
  margin: 0 20px;
}

ul.education,
ul.employment {
  list-style: none;
}

ul.hobbies {
  margin: 30px 0;
}

ul.adobe-list li {
  display: block;
}

.education a,
.employment a {
  color: #223843;
  text-decoration: none;
  font-weight: 600;
}
.education li,
.employment li {
  margin: 22px 0;
}
.education span,
.employment span {
  margin: 0 10px;
}
.education span.year,
.employment span.year {
  font-style: italic;
  margin-left: 15px;
}
.education span.job-location,
.employment span.job-location {
  font-weight: 500;
}
.education span.job-description,
.employment span.job-description {
  font-style: italic;
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
}

article.blog-content {
  flex: 3;
  min-width: 320px;
  padding: 0 20px;
}

@media (min-width: 517px) {
  article.blog-content {
    min-width: 517px;
    padding: 50px;
    text-align: right;
  }
}
.sidebar {
  flex: 1;
  padding: 35px 20px;
}

.contact-page main {
  margin-top: 280px;
}

.contact-page h3 {
  font-size: 44px;
}
.contact-page h4 {
  font-size: 24px;
  font-weight: 100;
  text-align: right;
  padding: 0 20px;
}
.contact-page label {
  font-weight: 100;
  display: block;
  text-align: right;
  padding: 10px 20px 0;
}
.contact-page footer {
  background-color: rgba(0, 0, 0, 0);
}

@media (min-width: 600px) {
  .contact-page h3, .contact-page h4, .contact-page label {
    text-align: center;
  }
  .contact-page h4 {
    margin: 5px 25px;
  }
}
body {
  background-color: #FCF2ED;
  font-family: helvetica;
  color: #223843;
  width: 100%;
}

.page-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

main {
  margin-top: 105px;
}

.home-page .page-wrapper {
  max-height: 100vh;
  overflow: hidden;
}

h1, h2 {
  color: #223843;
  flex: 1;
  display: flex;
}

h1 {
  font-size: 25px;
  letter-spacing: -1px;
  position: fixed;
  margin: 15px 0 0 20px;
}

h2, h3 {
  font-size: 30px;
  letter-spacing: -2px;
  font-weight: 100;
  align-items: flex-start;
}

h3 {
  margin: 25px 20px;
  font-size: 50px;
  font-weight: bold;
  text-align: right;
}

h3.work {
  margin-bottom: 0;
}

h4 {
  font-size: 32px;
  margin: 45px 0 5px;
}

h5 {
  font-size: 19px;
  margin: 35px 0 15px;
}

.blurb-container {
  padding: 0 15px;
}

.blurb {
  font-weight: 100;
  font-size: 16px;
  text-align: right;
}

.blurb.big {
  font-size: 25px;
  margin-left: 10px;
}

.work-page .blurb {
  padding-right: 20px;
}

.work-page h3 {
  padding: 10px 10px 0 0;
}
.work-page .blurb {
  padding: 30px 30px 0 0;
}

#tag {
  display: none;
}

@keyframes DROP {
  0% {
    margin-top: -500px;
  }
  100% {
    margin-top: 0;
  }
}
@media (min-width: 900px) {
  h1#name {
    font-size: 38px;
    margin-left: 70px;
  }
}
.home-page h1#name {
  text-align: center;
  font-size: 50px;
  letter-spacing: -3px;
  line-height: 0.78;
  align-items: flex-end;
  position: static;
  margin: 0;
  margin-block-end: 0.67em;
  margin-block-start: 0.67em;
  padding: inherit;
}

.home-page h1#name,
.home-page #tag {
  display: flex;
}

.home-page header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-link {
  display: inline-block;
  flex: 1;
  cursor: pointer;
  text-decoration: none;
}

@keyframes DRAW {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
#stripes {
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 75px;
  flex-direction: column;
  justify-content: center;
}
#stripes hr {
  border: 5px solid;
  margin: 0;
  opacity: 0.8;
}

.home-page #stripes {
  width: 100%;
  z-index: -1;
  display: flex;
  height: 100vh;
  top: 0;
}
.home-page #stripes hr {
  border: 8px solid;
}

@media (min-width: 900px) {
  .home-page #stripes {
    width: 0%;
    animation: DRAW 1s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
  }
}
#stripe-1 {
  color: #d85f61;
}

#stripe-2 {
  color: #53abe2;
}

#stripe-3 {
  color: #fd9966;
}

.desktop-social {
  display: none;
}

.spacer {
  background-color: #FCF2ED;
  height: 105px;
  width: 100%;
  position: fixed;
  opacity: 0.92;
  transition: 1s;
}
.spacer:hover {
  opacity: 0.97;
}

.project-image {
  background-size: 105%;
}

#project-1 .project-image {
  background-image: url(assets/projects/pokemon-app.png);
}

#project-2 .project-image {
  background-image: url(assets/projects/allegra-music.jpg);
}

#project-3 .project-image {
  background-image: url(assets/projects/companybox.png);
}

#project-4 .project-image {
  background-image: url(assets/projects/big-sur.png);
}

.left-col {
  width: 500px;
  margin-left: auto;
}

.last-name {
  display: none;
}

@media (min-width: 600px) {
  .left-col {
    width: 40%;
  }
}
@media (min-width: 900px) {
  .left-col {
    width: 38%;
  }

  .last-name {
    display: inline;
  }
}
/*
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    height: 50px;
    background:rgba(255, 255, 255, 0.5);
    p {
        font-size: 13px;
        color: $text-color;
        opacity: .4;
        font-weight: 100;
        text-align: center;
    }
}

.home-page footer {
    background-color: rgba(0, 0, 0, 0);
}
*/
@media (min-width: 900px) {
  footer ul.desktop-social {
    position: fixed;
    bottom: 15px;
    right: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: fit-content;
    border-radius: 13px;
    background-color: #fff;
    margin-left: auto;
    opacity: 0.6;
    transition: 0.7s;
    padding: 18px;
  }
  footer ul.desktop-social:hover {
    opacity: 1;
  }
  footer li {
    margin: 15px 0;
  }
  footer a i {
    color: #223843;
    font-size: 30px;
    transition: 1s;
  }
  footer a:hover .fa-linkedin-in {
    color: #d85f61;
  }
  footer a:hover .fa-twitter {
    color: #53abe2;
  }
  footer a:hover .fa-instagram {
    color: #fd9966;
  }
  footer a:hover .fa-github {
    color: #d85f61;
  }
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 20px;
}
.projects-container a {
  color: #223843;
  text-decoration: none;
}
.projects-container .project {
  width: 100%;
}
.projects-container .project-image {
  width: 100%;
  height: 300px;
  border-radius: 2px;
}

@media (min-width: 900px) {
  .projects-container .project {
    width: 47%;
  }
}

/*# sourceMappingURL=main.css.map */
