@import 'normalize';
@import 'logo';
@import 'colors';
@import 'menu';

body {
    background-color: $background;
    font-family: helvetica;
    width: 100%;
}

.page-wrapper {
    width: 100%;
    min-height: 100vh;
}

main {
    margin-top: 105px;
}

.about-page main {
    margin-top: 170px;
}

.home-page .page-wrapper {
    max-height: 100vh;
    overflow: hidden;
}

h1, h2 {
    color: $text-color;
    flex: 1;
    display: flex;
}

h1 {
    font-size: 25px;
    letter-spacing: -1px;
    position: fixed;
    margin: 15px 0 0 20px;
}

.home-page h1 {
    text-align: center;
    font-size: 50px;
    letter-spacing: -3px;
    line-height: 0.78;
    align-items: flex-end;
    position: static;
    margin-block-end: 0.67em;
    margin-block-start: 0.67em;
    padding: inherit;
}

h2, h3 {
    font-size: 30px;
    letter-spacing: -2px;
    font-weight: 100;
    align-items: flex-start;
}

h3 {
    color: $text-color;
    margin: 25px 20px;
    font-size: 50px;
    font-weight: bold;
    text-align: right;
}

h3.work {
    margin-bottom: 0;
}

h4 {
    margin: 5px 0;
}

.blurb-container {
    padding: 0 15px;
}

.blurb {
    font-weight: 100;
    font-size: 16px;
    text-align: right;
}

.work-page .blurb {
    padding-right: 20px;
}

#tag {
    display: none;
}

.home-page #name,
.home-page #tag {
    display: flex;
}

.home-page header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-link {
    display: inline-block;
    flex: 1;
    cursor: pointer;
    text-decoration: none;
}

#stripes {
    z-index: 1;
    width: 100%;
    position: fixed; 
    top: 75px;
    flex-direction: column;
    justify-content: center;
    
    hr {
        border: 5px solid;
        margin: 0;
        opacity: 0.8;
    }
}

.home-page #stripes {
    z-index: -1;
    position: absolute;
    display: flex;
    height: 100vh;
    top: 0;

    hr {
        border: 8px solid;
    }
}

#stripe-1 {
    color: $red;
}

#stripe-2 {
    color: $blue;
}

#stripe-3 {
    color: $orange;
}

.desktop-social {
    display: none;
}

#sprite-container {
    display: flex;
    justify-content: flex-end;
}

.spacer {
    background-color: $background;
    height: 105px;
    width: 100%;
    position: fixed;
}


@-webkit-keyframes WIGGLE {
    0%   { -webkit-transform: translate(0px, 0px); z-index: -3 }
    100%   { -webkit-transform: translate(0px, 0px); z-index: -3 }
}

@keyframes WIGGLE {
    0%   { -webkit-transform: translate(0px, 0px); z-index: -3 }
    100%   { -webkit-transform: translate(0px, 0px); z-index: -3 }
}

#little-clem{
    display: none;
    -webkit-animation: WIGGLE 1ms; 
    animation: WIGGLE 1ms;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

@keyframes WALK {
    0% { background-position: 0 }
    17% { background-position: -182px }
    34% { background-position: -364px }
    51% { background-position: -546px }
    68% { background-position: -728px }
    84% { background-position: -910px }
}

@-webkit-keyframes WALK {
    0% { background-position: 0 }
    17% { background-position: -182px }
    34% { background-position: -364px }
    51% { background-position: -546px }
    68% { background-position: -728px }
    84% { background-position: -910px }
}

#sprite-container {
    height: 220px;
    position: relative;
    width: 182px;
    margin-left: auto;
    z-index: -3;
}

.sprite {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0;
    -webkit-backface-visibility: hidden; /* IOS Flicker fix */
    -webkit-transform:translate3d(0,0,0);
}

#sprite-still {
    background-image: url('assets/little-clem.png');
}

#sprite-walk-down {
    background-image: url('assets/walking-down/down-spritesheet.png');
    animation: WALK .8s infinite step-end;
    -webkit-animation: WALK .8s infinite step-end;
}

#sprite-walk-up {
    background-image: url('assets/walking-up/up-spritesheet.png');
    animation: WALK .8s infinite step-end;
    -webkit-animation: WALK .8s infinite step-end;
}

.sprite.active {
    opacity: 1;
}

.no-flick {
    -webkit-transform:translate3d(0,0,0);
}

.projects-container {
    padding: 0 20px;

    .project-image {
        width: 100%;
        height: 300px;
        border-radius: 2px;
    }
}


.project-1 .project-image {
    background-image: url(assets/projects/pokemon-app.png);
    background-size: 105%;
}

.project-2 .project-image,
.project-3 .project-image,
.project-4 .project-image {
    background-image: url(https://via.placeholder.com/350);
}
