@import 'normalize';
@import 'logo';
@import 'colors';
@import 'menu';

body {
    background-color: $background;
    width: 100%;
    overflow: hidden;
}

.page-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

h1, h2 {
    text-align: center;
    color: $text-color;
    flex: 1;
    display: flex;
}

h1 {
    font-size: 50px;
    letter-spacing: -3px;
    line-height: 0.78;
    align-items: flex-end;
}

h2 {
    font-size: 30px;
    letter-spacing: -2px;
    font-weight: 100;
    align-items: flex-start;
}

header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-link {
    display: block;
    flex: 1;
    cursor: pointer;
}

#stripes {
    z-index: -1;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

#stripes hr {
    border: 8px solid;
    margin: 0;
    opacity: 0.8;
}

#stripe-1 {
    color: $red;
}

#stripe-2 {
    color: $blue;
}

#stripe-3 {
    color: $orange;
}

.desktop-social {
    display: none;
}