@import 'normalize';

@import 'colors';
@import 'breakpoints';

@import 'menu';
@import 'logo';

@import 'about';
@import 'sprite';

body {
    background-color: $background;
    font-family: helvetica;
    color: $text-color;
    width: 100%;
}

.page-wrapper {
    width: 100%;
    min-height: 100vh;
}

main {
    margin-top: 105px;
}

.about-page main {
    margin-top: 170px;
}

.contact-page main {
    margin-top: 280px;
}

.home-page .page-wrapper {
    max-height: 100vh;
    overflow: hidden;
}

h1, h2 {
    color: $text-color;
    flex: 1;
    display: flex;
}

h1 {
    font-size: 25px;
    letter-spacing: -1px;
    position: fixed;
    margin: 15px 0 0 20px;
}

h2, h3 {
    font-size: 30px;
    letter-spacing: -2px;
    font-weight: 100;
    align-items: flex-start;
}

h3 {
    margin: 25px 20px;
    font-size: 50px;
    font-weight: bold;
    text-align: right;
}

.about-page h3 {
    margin-top: 5px;
}

.contact-page h3 {
    font-size: 44px;
}

h3.work {
    margin-bottom: 0;
}

h4 {
    font-size: 32px;
    margin: 45px 0 5px;
}

.contact-page h4 {
    font-size: 24px;
    font-weight: 100;
    text-align: right;
    padding: 0 20px;
}

h5 {
    font-size: 19px;
    margin: 35px 0 15px;
}

.contact-page label {
    font-weight: 100;
    display: block;
    text-align: right;
    padding: 10px 20px 0;
}

.blurb-container {
    padding: 0 15px;
}

.blurb {
    font-weight: 100;
    font-size: 16px;
    text-align: right;
}

.blurb.big {
    font-size: 25px;
    margin-left: 10px;
}

.work-page .blurb {
    padding-right: 20px;
}

#tag {
    display: none;
}

@keyframes DROP {
    0% { margin-top: -500px; }
    100% { margin-top: 0; }
}

@media(min-width: $med){
    h1#name {
        font-size: 38px;
        margin-left: 70px;
    }
}

.home-page h1#name {
    text-align: center;
    font-size: 50px;
    letter-spacing: -3px;
    line-height: 0.78;
    align-items: flex-end;
    position: static;
    margin: 0;
    margin-block-end: 0.67em;
    margin-block-start: 0.67em;
    padding: inherit;
}

.home-page h1#name,
.home-page #tag {
    display: flex;
}

.home-page header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-link {
    display: inline-block;
    flex: 1;
    cursor: pointer;
    text-decoration: none;
}

@keyframes DRAW {
    0% { width: 0%; }
    100% { width: 100%; }
}

#stripes {
    width: 100%;
    z-index: 1;
    position: fixed; 
    top: 75px;
    flex-direction: column;
    justify-content: center;
    
    hr {
        border: 5px solid;
        margin: 0;
        opacity: 0.8;
    }
}

.home-page #stripes {
    width: 100%;
    z-index: -1;
    display: flex;
    height: 100vh;
    top: 0;

    hr {
        border: 8px solid;
    }
}

@media(min-width: $med){
    .home-page #stripes {
        width: 0%;
        animation: DRAW 1s;
        animation-delay: .6s;
        animation-fill-mode: forwards;
    }
}

#stripe-1 {
    color: $red;
}

#stripe-2 {
    color: $blue;
}

#stripe-3 {
    color: $orange;
}

.desktop-social {
    display: none;
}

.spacer {
    background-color: $background;
    height: 105px;
    width: 100%;
    position: fixed;
    opacity: .92;
    transition: 1s;

    &:hover {
        opacity: .97;
    }
}

.projects-container {
    padding: 0 20px;

    .project-image {
        width: 100%;
        height: 300px;
        border-radius: 2px;
    }
}

.project-1 .project-image {
    background-image: url(assets/projects/pokemon-app.png);
    background-size: 105%;
}

.project-2 .project-image,
.project-3 .project-image,
.project-4 .project-image {
    background-image: url(https://via.placeholder.com/350);
}

.left-col {
    width: 500px;
    margin-left: auto;
}

.last-name {
    display: none;
}

@media(min-width: $small){
    .left-col {
        width: 40%;
    }
}

@media(min-width: $med){
    .left-col {
        width: 38%;
    }
    .last-name {
        display: inline;
    }
}

@media(min-width: $med){
    footer {
        
        ul.desktop-social {
            position: fixed;
            bottom: 15px;
            right: 0;
            list-style: none;
            display: block;
            text-align: center;
            width: fit-content;
            border-radius: 13px;
            background-color: #fff;
            margin-left: auto;
            opacity: .6;
            transition: .7s;
            padding: 18px;

            &:hover {
                opacity: 1;
            }
        }

        li {
            margin: 15px 0;
        }

        a {
            i {
                color: $text-color;
                font-size: 30px;
                transition: 1s;
            }

            &:hover {
                .fa-linkedin-in {
                    color: $red;
                }
                .fa-twitter {
                    color: $blue;
                }
                .fa-instagram {
                    color: $orange;
                }
                .fa-github {
                    color: $red;
                }
            }
        }
    }
}

